@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


*{
  box-sizing: border-box;
}

body{
  background-color: #275163;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

.container {
  background-color: #dae2e6;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 700px;
}

h3 {
  margin: 0;
  opacity: 0.6;
  letter-spacing: 2px;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 500px;
  min-height: 150px;
}

.btn {
  background-color: #c2c211;
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  width: 270px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btnback{
  background-color: #e6960b;
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  width: 270px;
}

#backBtn{
  margin-top: 25px;
  background-color: #e6960b;
  color: #fff;
  text-decoration: none;
}

#back{
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.btnback{
  display: none;
}

.btnback.active{
  display: inline;
}

.btnbacktwo{
  background-color: #b31026;
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  width: 500px;
}

.btnbacktwo{
  display: none;
}

.btnbacktwo.active{
  display: inline;
}

.enjoy{
  margin-top: 10px;
  display: none;
}

.enjoy.active{
  display: inline;
}
