@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
}

.link{
  text-decoration: none;
}

/* .link:visited{
  color:blue;
} */
