<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <title>Content Placeholder</title>
    <link rel="icon" href="https://img.icons8.com/nolan/64/html-5.png">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/content_placeholder.css' %}">
  </head>
  <body>

    <div class="card">

      <div class="card-header animated-bg" id="header">&nbsp;</div>

      <div class="card-content">

        <h3 class="card-title animated-bg animated-bg-text" id="title">
          &nbsp;
        </h3>

        <p class="card-excerpt" id="excerpt">
          &nbsp;
          <span class="animated-bg animated-bg-text">&nbsp;</span>
          <span class="animated-bg animated-bg-text">&nbsp;</span>
          <span class="animated-bg animated-bg-text">&nbsp;</span>
        </p>

        <div class="author">
          <div class="profile-img animated-bg" id="profile_img">&nbsp;</div>
          <div class="author-info">
            <strong class="animated-bg animated-bg-text" id="name">&nbsp;</strong>
            <small class="animated-bg animated-bg-text" id="date">&nbsp;</small>
          </div>
        </div>

      </div>

    </div>

    <div class="card-footer">
      <div class="refresh"> <a href="{% url 'projects:content_placeholder' %}"> <i class="fas fa-sync-alt"></i> </a> </div>
      <div class="back"> <a href="{% url 'projects:index' %}">Back</a> </div>
    </div>

    <script src="{% static 'js/content_placeholder.js' %}"></script>
  </body>
</html>
