<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <title>Hidden Search</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/hidden_search.css' %}">
  </head>
  <body>

    <div class="search">
      <input type="text" class="input" placeholder="Search">
      <button class="btn-back">
        <i class="fas fa-arrow-left"><a class="back" href="{% url 'projects:index' %}">Back</a></i>
      </button>
      <button class="btn">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <script src="{% static 'js/hidden_search.js' %}"></script>
  </body>
</html>
