<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <title>Movie App</title>
    <link rel="icon" href="https://img.icons8.com/nolan/64/html-5.png">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/movie_app.css' %}">
  </head>
  <body>

    <h3 class="title">
      Movie App
    </h3>

    <header>
      <form id="form">
        <input type="text" id="search" class="search" placeholder="Search">
      </form>
      <button class="back">
        <a href="{% url 'projects:index' %}">Back</a>
      </button>
    </header>


    <main id="main"></main>


    <script src="{% static 'js/movie_app.js' %}"></script>
  </body>
</html>
