<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <title>Portfolio Index</title>
    <link rel="icon" href="https://img.icons8.com/nolan/64/html-5.png">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/portfolio_index.css' %}">
  </head>

  <body>


<!-- HEADER  -->


    <nav class="nav">
      <div class="container">
        <h1 class="logo"><a href="#"> JMontane </a></h1>
        <ul>
          <li><a href="#" class="desktopnav">Front End</a></li>
          <li><a href="#" class="desktopnav">Back End</a></li>
          <li><a href="#" class="desktopnav">CV</a></li>
          <li><a href="#" class="desktopnav">Contact</a></li>

          <li><a href="#" class="mobilenav">FE</a></li>
          <li><a href="#" class="mobilenav">BE</a></li>
          <li><a href="#" class="mobilenav">CV</a></li>
          <li><a href="#" class="mobilenav">Contact</a></li>

          <li> <img class="imgnav" src="{% static 'images/portfolio/spanish.png' %}"  </li>
          <li> <img class="imgnav" src="{% static 'images/portfolio/nightmode.png' %}"  </li>
        </ul>
      </div>
    </nav>





<!-- HERO  -->


    <div class="hero">
      <div class="container">
        <h1>Jaume Montane</h1>
        <h3>Full Stack Web Developer</h3>
        <p>I am a self-taught developer, focused on Python's Django framework, and front end skills. </p>
      </div>
    </div>









<!-- FRONT END SECTION -->


    <section class="container frontend">

      <h1>Front End</h1>

      <div class="card small">

        <div class="card-description">
          <p>I work with Html, Css and Javascript.
            <br>
            I am learning React and can use other libraries like Bootstrap or jQuery.
            <br>
            You can see some projects scrolling down or in the <a href="#"> Full Front End </a> section.</p>
        </div>

      </div>

      <div class="showcase">

        <div class="title">
          <h2>Showcase</h2>
        </div>

        <div class="projects">

          <div class="project">
            <div class="card">

              <div class="card-description project">
                <p>This is my first front end project - 50 Projects
                <br>
                Here I will list the technologies I used for this project.</p>
              </div>

              <div class="img">
                <!-- <img class="card-pic" src="{% static 'images/portfolio/50projects.png' %}" alt=""> -->

              </div>

            </div>
            <div class="card">

              <div class="card-description">
                <p>This is my second front end project - Portfolio
                <br>
                Here I will list the technologies I used for this project</p>
              </div>


              <img class="card-pic" src="{% static 'images/portfolio/portfolio.png' %}" alt="">

            </div>
          </div>

        </div>

      </div>

    </section>










<!-- BACK END SECTION -->




    <section class="container frontend">

      <h1>Back End</h1>

      <div class="card small">

        <div class="card-description">
          <p>I work with Django and Python.
            <br>
            I have some experience with PostreSQL, AWS and S3 Buckets.
            <br>
            You can see some projects scrolling down or in the <a href="#"> Full Back End </a> section.</p>
        </div>

      </div>

      <div class="showcase">

        <div class="title">
          <h2>Showcase</h2>
        </div>

        <div class="projects">

          <div class="project">
            <div class="card">

              <picture>
                <img class="card-pic backend" src="{% static 'images/portfolio/crm1.png' %}" alt="">
              </picture>

              <div class="card-description backend">

                <p>This is my first back end project - Crm1
                <br>
                Here I will list the technologies I used for this project</p>
              </div>

            </div>
            <div class="card">
              <img class="card-pic backend" src="{% static 'images/portfolio/spacerweb.png' %}" alt="">


              <div class="card-description backend">

                <p>This is my second back end project - Spacer
                <br>
                Here I will list the technologies I used for this project</p>
              </div>


            </div>
          </div>

        </div>

      </div>

    </section>







    <!-- CV SECTION -->


    <section class="container cv">

      <h1>CV</h1>

      <div class="card small">

        <div class="card-description">
          <p>Here I will link to my CV</p>
          <img src="https://img.icons8.com/nolan/64/parse-from-clipboard.png"/>
        </div>

      </div>

    </section>
















    <!-- CONTACT SECTION -->


    <section class="container contact">

      <h1>Contact</h1>

      <div class="card small">

        <div class="card-description">
          <p>Here I will link to my mail, Github and Linkedin</p>
          <img src="https://img.icons8.com/nolan/64/email.png"/>
          <img src="https://img.icons8.com/nolan/64/github.png"/>
          <img src="https://img.icons8.com/nolan/64/linkedin.png"/>

        </div>

      </div>

    </section>
















    <!-- FOOTER -->




    <script src="{% static 'js/portfolio_index.js' %}"></script>
  </body>
</html>
