<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <title>Portfolio Index</title>
    <link rel="icon" href="https://img.icons8.com/nolan/64/html-5.png">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/portfolio_index.css' %}">
  </head>

  <body>


<!-- HEADER  -->


    <nav class="nav">
      <div class="container">

        <h1 class="logo"><a href="#"> JMontane </a></h1>

        <div class="dropdownMenu">
          <button class="hamb" id="hambtoggle">
            <div class="hambline line1"></div>
            <div class="hambline line2"></div>
          </button>
        </div>

        <ul>

          <li><a href="#" class="desktopnav" id="frontendBtn">Front End</a></li>
          <li><a href="#" class="desktopnav">Back End</a></li>
          <li><a href="#" class="desktopnav">CV</a></li>
          <li><a href="#" class="desktopnav">Contact</a></li>

          <li> <img class="desktopnav imgnav spanishmode" src="{% static 'images/portfolio/spanish.png' %}"  </li>
          <li> <img class="desktopnav imgnav englishmode" src="{% static 'images/portfolio/english.png' %}"  </li>
          <li> <img class="desktopnav imgnav nightmode" src="{% static 'images/portfolio/nightmode.png' %}"  </li>
          <li> <img class="desktopnav imgnav daymode" src= "https://img.icons8.com/doodle/48/000000/sun--v1.png"  </li>

          </ul>
      </div>
    </nav>


<!-- HERO  -->


    <div class="hero">
      <div class="container">
        <h1>Jaume Montane</h1>
        <h3>Full Stack Web Developer</h3>
        <p class="translate_p1"> <span>I am a self-taught developer, focused on Python's Django framework.</span> </p>
      </div>
    </div>





    <a class="call-to-action" href="#"> django <i class="fas fa-angle-down"></i> </a>



<!-- FRONT END SECTION -->


    <section class="container frontend">


      <h1>Front End</h1>


      <div class="card small smaller">

        <div class="card-description" id="frontendAnchorTag">
          <p class="findme translate_p2"> <span> I work with Html, Css and Javascript.
            <br>
            I am learning React and can use other libraries like Bootstrap or jQuery.
            <br>
            Scroll down or see more in the full <a href="#"> Front End </a> page.</span> </p>
        </div>

      </div>


      <div class="showcase">

        <div class="title">
          <h2>Showcase</h2>
        </div>

      </div>


      <div class="projects">


        <div class="project">

          <div class="card">

            <div class="card-description">

              <div class="project-skills">
                <span class="skill">Html</span>
                <span class="skill">Css</span>
                <span class="skill">Javascript</span>
                <span class="skill">APIs</span>
                <span class="skill">Flexbox</span>
                <span class="skill">Grid</span>
              </div>

              <div class="project-title">
                50+ PROJECTS
              </div>

              <div class="project-text">
                <p class="translate_p3"> <span> This is a wide compilation of short projects
                done with vanilla Html, Css and Javascript. </span> </p>
              </div>

              <div class="project-links">
                <a href="#"> <img class="imgcard" src="https://img.icons8.com/nolan/64/github.png"/>  Code</a>
                <a href="#"> <img class="imgcard" src="{% static 'images/portfolio/website.png' %}"> Live</a>
              </div>


            </div>

            <div class="image">

              <img class="card-pic" src="{% static 'images/portfolio/50projects.png' %}" alt="">

            </div>

          </div>

        </div>



        <div class="project">

          <div class="card">

            <div class="card-description">

              <div class="project-skills">
                <span class="skill">Html</span>
                <span class="skill">Css</span>
                <span class="skill">Javascript</span>
                <span class="skill">Web Design</span>
                <span class="skill">Responsive Design</span>
              </div>

              <div class="project-title">
                PORTFOLIO WEBSITE
              </div>

              <div class="project-text">
                <p class="translate_p4"> <span> This very same website you are viewing! It is my first portfolio. <br>
                I made it from scratch and I am very proud of it. </span> </p>
              </div>

              <div class="project-links">
                <a href="#"> <img class="imgcard" src="https://img.icons8.com/nolan/64/github.png"/>  Code</a>
                <a class="imgcard portfolio_live" href="#"> <img src="{% static 'images/portfolio/website.png' %}"> Live</a>
              </div>


            </div>

            <div class="image">

              <img class="card-pic" src="{% static 'images/portfolio/portfolio.png' %}" alt="">

            </div>

          </div>

        </div>




      </div>



    </section>


    <div class="line">

    </div>










<!-- BACK END SECTION -->




    <section class="container frontend">

      <h1>Back End</h1>

      <div class="card small smaller">

        <div class="card-description" id="backendAnchorTag">
          <p class="findme translate_p5"> <span> I work with Django and Python.
            <br>
            I have some experience with PostreSQL, AWS and S3 Buckets.
            <br>
            Scroll down or see more in the full <a href="#"> Back End </a> page. </span> </p>
        </div>

      </div>

      <div class="showcase">

        <div class="title">
          <h2>Showcase</h2>
        </div>

        <div class="projects">


          <div class="project">

            <div class="card">

              <div class="image">

                <img class="card-pic backend" src="{% static 'images/portfolio/crm1.png' %}" alt="">

              </div>

              <div class="card-description backend">

                <div class="project-skills">
                  <span class="skill">Django</span>
                  <span class="skill">AWS</span>
                  <span class="skill">PostgreSQL</span>
                  <span class="skill">S3 Buckets</span>
                  <span class="skill">Server Security</span>
                </div>

                <div class="project-title">
                  CRM
                </div>

                <div class="project-text">
                  <p class="translate_p6"> <span> This is a Custom Relationship Manager where you can sign up,
                  log in and then create customers, place orders or edit your profile
                  info and image. </span> </p>

                </div>

                <div class="project-links">
                  <a href="#"> <img class="imgcard" src="https://img.icons8.com/nolan/64/github.png"/>  Code</a>
                  <a href="#"> <img class="imgcard" src="{% static 'images/portfolio/website.png' %}"> Live</a>
                </div>

              </div>

            </div>

          </div>


          <div class="project">

            <div class="card">

              <div class="image">

                <img class="card-pic backend" src="{% static 'images/portfolio/spacerweb.png' %}" alt="">

              </div>

              <div class="card-description backend">

                <div class="project-skills">
                  <span class="skill">Django</span>
                  <span class="skill">User Auth</span>
                  <span class="skill">SQLite</span>
                </div>

                <div class="project-title">
                  SPACER
                </div>

                <div class="project-text">
                  <p class="translate_p7"> <span> This is a social media website where you can create "galaxies", join them,
                  post and share your galactic thoughts with other users. </span> </p>


                </div>

                <div class="project-links">
                  <a href="#"> <img class="imgcard" src="https://img.icons8.com/nolan/64/github.png"/>  Code</a>
                  <a href="#"> <img class="imgcard" src="{% static 'images/portfolio/website.png' %}"> Live</a>
                </div>

              </div>

            </div>

          </div>


        </div>

      </div>

    </section>



    <div class="line">

    </div>





    <!-- CV SECTION -->


    <section class="container cv">

      <h1>CV</h1>

      <div class="card small">

        <div class="card-description-cv">
          <p class="findme translate_p8"> <span> I studied Industrial Engineering, working with Python, Matlab and C#. <br>
          During the 2020 pandemic I decided to learn web development and data science. <br>
          When not coding, I am also a Fitness Instructor and a Basketball Referee. </span> </p>

          <div class="cvs">
            <a>English CV <img class="imgcv" src="https://img.icons8.com/nolan/64/parse-from-clipboard.png"/></a>
            <a>Spanish CV <img class="imgcv" src="https://img.icons8.com/nolan/64/parse-from-clipboard.png"/></a>
          </div>

        </div>

      </div>

    </section>





    <div class="line">

    </div>











    <!-- CONTACT SECTION -->


    <section class="container contact">

      <h1>Contact</h1>

      <div class="card small smaller">

        <div class="card-description-contact">
          <p class="findmect translate_p9"> <span> You can find me here: </span> </p>

          <div class="contacts">
            <a href="#"> LinkedIn <img class="imgcontact" src="https://img.icons8.com/nolan/64/linkedin.png"/> </a>
            <p>jmontane.dev@gmail.com <img class="imgcontact" src="https://img.icons8.com/nolan/64/email.png"/> </p>
            <a href="#"> Github <img class="imgcontact" src="https://img.icons8.com/nolan/64/github.png"/> </a>
          </div>


        </div>

      </div>

    </section>
















    <!-- FOOTER -->


    <div class="footer">
      <h3 class="logo">JMontane, 2021</h3>
      <p>"Sic parvis magna"</p>
      <small>Designed and coded by me, Thanks for visiting :)</small>
    </div>




    <script src="{% static 'js/portfolio_index.js' %}"></script>
  </body>
</html>
