<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <title>Portfolio Index</title>
    <link rel="icon" href="https://img.icons8.com/nolan/64/html-5.png">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/portfolio_index.css' %}">
  </head>
  <body>

    <nav class="nav">
      <div class="container">
        <h1 class="logo"><a href="#"> JMontane </a></h1>
        <ul>
          <li><a href="#" class="desktopnav">Front End</a></li>
          <li><a href="#" class="desktopnav">Back End</a></li>
          <li><a href="#" class="desktopnav">CV</a></li>
          <li><a href="#" class="desktopnav">Contact</a></li>

          <li><a href="#" class="mobilenav">FE</a></li>
          <li><a href="#" class="mobilenav">BE</a></li>
          <li><a href="#" class="mobilenav">CV</a></li>
          <li><a href="#" class="mobilenav">Contact</a></li>

          <li> <img class="imgnav" src="{% static 'images/portfolio/spanish.png' %}"  </li>
          <li> <img class="imgnav" src="{% static 'images/portfolio/nightmode.png' %}"  </li>
        </ul>
      </div>
    </nav>


    <div class="hero">
      <div class="container">
        <h1>Jaume Montane</h1>
        <h3>Full Stack Web Developer</h3>
        <p>I am a self-taught web developer, focused on the Django framework, with front end skills to be able to show my work nicely. </p>
      </div>
    </div>


    <section class="container frontend">

      <h1>Front End</h1>

      <div class="card small">

        <div class="card-description">
          <p>I work with Html, Css and Javascript.
            <br>
            I am learning React and can use other libraries like Bootstrap or jQuery.
            <br>
            You can see some projects scrolling down or in the <a href="#"> Full Front End </a> section.</p>
        </div>

      </div>

      <div class="showcase">

        <div class="title">
          <h2>Showcase</h2>
        </div>

        <div class="projects">

          <div class="project">
            <div class="card">

              <div class="card-description">
                <p>I work with Html, Css, Javascript and other libraries.
                <br>
                You can see more in the "See more" section.</p>
              </div>


              <img class="card-pic" src="https://images.unsplash.com/photo-1481487196290-c152efe083f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1130&q=80" alt="">

            </div>
            <div class="card">

              <div class="card-description">
                <p>I work with Html, Css, Javascript and other libraries.
                <br>
                You can see more in the "See more" section.</p>
              </div>


              <img class="card-pic" src="https://images.unsplash.com/photo-1481487196290-c152efe083f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1130&q=80" alt="">

            </div>
          </div>

        </div>

      </div>

    </section>


    <section class="container frontend">

      <h1>Back End</h1>

      <div class="card small">

        <div class="card-description">
          <p>I work with Django and Python.
            <br>
            I have some experience with PostreSQL, AWS and S3 Buckets.
            <br>
            You can see some projects scrolling down or in the <a href="#"> Full Back End </a> section.</p>
        </div>

      </div>

      <div class="showcase">

        <div class="title">
          <h2>Showcase</h2>
        </div>

        <div class="projects">

          <div class="project">
            <div class="card">

              <div class="card-description">
                <p>I work with Html, Css, Javascript and other libraries.
                <br>
                You can see more in the "See more" section.</p>
              </div>


              <img class="card-pic" src="https://images.unsplash.com/photo-1481487196290-c152efe083f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1130&q=80" alt="">

            </div>
            <div class="card">

              <div class="card-description">
                <p>I work with Html, Css, Javascript and other libraries.
                <br>
                You can see more in the "See more" section.</p>
              </div>


              <img class="card-pic" src="https://images.unsplash.com/photo-1481487196290-c152efe083f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1130&q=80" alt="">

            </div>
          </div>

        </div>

      </div>

    </section>


    <section class="container content">
      <h2>Content One</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorem voluptates eveniet tempora ut cupiditate magnam, sapiente, hic quo in ipsum iste soluta eaque perferendis nihil recusandae dolore officia aperiam corporis similique. Facilis quos tempore labore totam! Consectetur molestiae iusto ducimus error reiciendis aspernatur dolor, modi dolorem sit architecto, voluptate magni sunt unde est quas? Voluptates a dolorum voluptatum quo perferendis aut sit. Aspernatur libero laboriosam ab eligendi omnis delectus earum labore, placeat officiis sint illum rem voluptas ipsum repellendus iste eius recusandae quae excepturi facere, iure rerum sequi? Illum velit delectus dicta et iste dolorum obcaecati minus odio eligendi!</p>

      <h3>Content Two</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur provident nostrum possimus inventore nisi laboriosam consequatur modi nulla eos, commodi, omnis distinctio! Maxime distinctio impedit provident, voluptates illo odio nostrum minima beatae similique a sint sapiente voluptatum atque optio illum est! Tenetur tempora doloremque quae iste aperiam hic cumque repellat?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <h3>Content Three</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      </p>
    </section>

    <script src="{% static 'js/portfolio_index.js' %}"></script>
  </body>
</html>
