<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Progress Steps</title>
    <link rel="icon" href="https://img.icons8.com/nolan/64/html-5.png">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/progress_steps.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="progress-container">
        <div class="progress" id="progress"></div>
        <div class="circle active">1</div>
        <div class="circle">2</div>
        <div class="circle">3</div>
        <div class="circle">4</div>
      </div>
      <button class="btn" id="prev" disabled>Prev</button>
      <button class="btn" id="next">Next</button>
      <button id="backid" class="btn-back"><a class="back" href="{% url 'projects:index' %}" class="back">Back</a></button>
    </div>
    <script src="{% static 'js/progress_steps.js' %}"></script>
  </body>
</html>
