<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <title>My Project</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/split_landing_page.css' %}">
  </head>
  <body>

    <div class="container">
      <div class="split left" style="background-image: url({% static 'images/mario.png' %})">
        <h1>Mario</h1>
        <a href="#" class="btn">Vote</a>
      </div>
      <div class="split right" style="background-image: url({% static 'images/sonic.png' %})">
        <h1>Sonic</h1>
        <a href="#" class="btn">Vote</a>
      </div>
      <div class="down">
        <a href="{% url 'projects:index' %}" class="btndown">Back</a>
      </div>
    </div>

    <script src="{% static 'js/split_landing_page.js' %}"></script>
  </body>
