<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>50 Projects</title>
    <link rel="icon" href="https://img.icons8.com/nolan/64/html-5.png">
    <link rel="stylesheet" href="{% static 'main/index.css' %}">

  </head>
  <body>

    <div class="container">

      <h2>Hello, world! Let's do 50+ Html,Css & Js Projects!</h2>

      <div class="cards">

        <div class="card">
          <div class="link"><a href="{% url 'projects:expanding_cards' %}"><p>1 - Expanding Cards</p><img src="{% static 'images/screenshots/expanding_cards.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:progress_steps' %}"><p>2 - Progress Steps</p><img src="{% static 'images/screenshots/progress_steps.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:rotating_nav_animation' %}"><p>3 - Rotating Nav Animation</p><img src="{% static 'images/screenshots/rotating_nav_animation.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:hidden_search' %}"><p>4 - Hidden Search</p><img src="{% static 'images/screenshots/hidden_search.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:blurry_loading' %}"><p>5 - Blurry Loading</p><img src="{% static 'images/screenshots/blurry_loading.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:scroll_animation' %}"><p>6 -  Scroll Animation</p><img src="{% static 'images/screenshots/scroll_animation.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:split_landing_page' %}"><p>7 - Split Landing Page</p><img src="{% static 'images/screenshots/split_landing_page.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:form_input_wave' %}"><p>8 - Form Wave Animation</p><img src="{% static 'images/screenshots/form_input_wave.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:sound_board' %}"><p>9 - Sound Board</p><img src="{% static 'images/screenshots/sound_board.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:dad_jokes' %}"><p>10 - Dad Jokes</p><img src="{% static 'images/screenshots/dad_jokes.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:event_keycodes' %}"><p>11 - Event Keycodes</p><img src="{% static 'images/screenshots/event_keycodes.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:django_facts' %}"><p>12 - Django Facts</p><img src="{% static 'images/screenshots/django_facts.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:random_choice' %}"><p>13 - Random Choice Picker</p><img src="{% static 'images/screenshots/random_choice.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:animated_navigation' %}"><p>14 - Animated Navigation</p><img src="{% static 'images/screenshots/animated_navigation.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:incrementing_counter' %}"><p>15 - Incrementing Counter</p><img src="{% static 'images/screenshots/incrementing_counter.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:drink_blood' %}"><p>16 - Drink Blood</p><img src="{% static 'images/screenshots/drink_blood.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:movie_app' %}"><p>17 - Movie App</p><img src="{% static 'images/screenshots/movie_app.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:background_slider' %}"><p>18 - Background Slider</p><img src="{% static 'images/screenshots/background_slider.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:theme_clock' %}"><p>19 - Theme Clock</p><img src="{% static 'images/screenshots/theme_clock.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:ripple_effect' %}"><p>20 - Ripple Effect</p><img src="{% static 'images/screenshots/ripple_effect.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:minecraft_drag' %}"><p>21 - Minecraft Drag</p><img src="{% static 'images/screenshots/minecraft_drag.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:drawing_app' %}"><p>22 - Drawing App</p><img src="{% static 'images/screenshots/drawing_app.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:kinetic_loader' %}"><p>23 - Kinetic Loader</p><img src="{% static 'images/screenshots/kinetic_loader.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:content_placeholder' %}"><p>24 - Content Placeholder</p><img src="{% static 'images/screenshots/content_placeholder.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:sticky_navbar' %}"><p>25 - Sticky Navbar</p><img src="{% static 'images/screenshots/sticky_navbar.png' %}"></a></div>
        </div>
        <div class="card">
          <div class="link"><a href="{% url 'projects:double_vertical_slider' %}"><p>26 - Double Vertical Slider</p><img src="{% static 'images/screenshots/double_vertical_slider.png' %}"></a></div>
        </div>


      </div>


    </div>

  </body>
</html>
