<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>50Projects</title>
    <link rel="stylesheet" href="{% static 'main/index.css' %}">

  </head>
  <body>

    <div class="container">

      <h2>Hello, world! Let's do 50 Html,Css & Js Projects!</h2>
      <br>
      <a href="{% url 'projects:expanding_cards' %}" class="link">1 - Expanding Cards</a>
      <p></p>
      <a href="{% url 'projects:progress_steps' %}" class="link">2 - Progress Steps</a>
      <p></p>
      <a href="{% url 'projects:rotating_nav_animation' %}" class="link">3 - Rotating Nav Animation</a>
    </div>

  </body>
</html>
